
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: url(./imagenes/inicio4.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
  }


.logo{
    margin-left: 10px;
    width: 230px;   
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.nav-item{
    padding: 10px;
    
}

.carro{
    color: #fdfdfd;
    font-size: 35px;
}