
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: url(./imagenes/inicio4.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
  }


.logo{
    width: 230px;   
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}

.nav-item{
    padding: 10px;
    
}

.nab{
    align-items: center;
    margin-top: -50px;
}
.carro{
    color: #fdfdfd;
    font-size: 35px;
}

.icono-carro {
    position: relative;
}

.icono-carro__cantidad {
    position: absolute;
    bottom: 27px;
    right: -15px;
    background-color: white;
    color: black;
    border-radius: 50%;
    line-height: 25px;
    padding: 0px 7px 0px 4px;
    font-size: 20px;
    font-weight: bold;
       
}

.imgNosotros{
    margin-top: 30px;
}

.seccion-productos{
    background-color: #f7f0f7;
}

.colorCant{
    background-color: white;
    
}

.card{
    border: 0px;
}
.cantidadProductos{
    display: inline;
}

.cantidadProductos input{
    width: 50px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.cardProductos{
   margin: 30px;

}

.logoFooter{
    width: 230px; 
    margin-top: -50px;
}

.pFooter{
    margin-top: -40px;
}